<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>メールアドレス管理</title>
</head>
<body>
<h1>詳細</h1>
> <a href="/admin/list">一覧</a><br><br>

<table cellspacing="1" cellpadding="8" border="0" bgcolor="#999999">
  <tr>
    <td width="100" bgcolor="#EBEBEB">メールアドレス</td>
    <td width="250" bgcolor="#FFFFFF">{{ mail.email }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">コメント</td>
    <td bgcolor="#FFFFFF">{{ mail.comment }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">ステータス</td>
    <td bgcolor="#FFFFFF">{{ mail.status }}</td>
  </tr>
</table>
</body>
</html>
